@media (max-width: 1200px) {
    .promo {
        &__menu {
            &-container {
                max-width: 960px;
            }
        }
        &__header {
            &-container {
                max-width: 960px;
            }
        }
        &__bell {
            width: 40%;
        }
    }
}

@media (max-width: 992px) {
    .promo {
        &__menu {
            &-container {
                max-width: 720px;
            }
            &-list {
                &-link {
                    font-size: 13px;
                }
                &-divider {
                    margin: 0 10px;
                }
            }
        }
        &__header {
            &-container {
                max-width: 720px;
            }
        }
        &__logo {
            &-title {
                font-size: 25px;
            }
        }
        &__bell {
            width: 50%;
        }
        &__phone {
            &-link {
                font-size: 20px;
            }
        }
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 32px;
        }
        &__content {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__hamburger {
            z-index: 100;
            display: block;
            position: fixed;
            right: 15px;
            top: 15px;
            width: 30px;
            height: 21px;
            cursor: pointer;
            span {
                display: block;
                height: 4px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 4px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -4px;
                    &:nth-child(1) {
                        transform: translateY(4px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(4px) rotate(45deg);
                    }   
                }
            }
        }
        &__menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            transform: none;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0, .9);
            transition: all 1s;
            &_active {
                left: 0;
            }
            &-container {
                width: 100%;
            }
            &-list {
                flex-direction: column;
                height: 100%;
                &-item {
                    text-align: center;
                }
                &-link {
                    font-size: 18px;
                    font-weight: 700;
                }
                &-divider {
                    display: none;
                }
            }
        }
        &__header {
            margin-top: 0;
            &-container {
                max-width: 540px;
            }
        }
        &__logo-wrapper {
            width: 100%;
            margin-top: 10px;
            align-items: center;
        }
        &__bell {
            width: 100%;
            margin-top: 15px;
            justify-content: space-around;
        }
        &__logo {
            &-title {
                font-size: 30px;
            }
            &-subtitle {
                font-size: 16px;
            }
        }
        &__phone {
            &-link {
                font-size: 22px;
            }
        }
        &__title {
            font-size: 38px;
        }
        &__subtitle {
            font-size: 36px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        &__menu {
            width: 80%;
            &-list {
                &-link {
                    font-size: 22px;
                }
            }
        }
        &__header {
            &-container {
                width: 100%;
            }
        }
        &__logo-wrapper {
            margin-top: 40px;   
        }
        &__logo {
            &-title {
                font-size: 20px;
            }
            &-subtitle {
                font-size: 14px;
            }
        }
        &__bell {
            flex-direction: column;
        }
        &__phone {
            align-items: center;
            margin-bottom: 10px;
            &-title {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
        &__title {
            font-size: 35px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 22px;
        }
        &__content {
            font-size: 16px;
        }
    }
}